@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    color: #435058;
}

header{
    padding: 25px 10px;
    text-align: center;
}

body{
    font-family: 'Oxygen', sans-serif;
    color: #435058;
    background-color: #F9F7F3;
    text-align: center;
}

.imageshadow{
    box-shadow: 0 10px 5px #dfdcd9;
}

.socials{
    padding-top: 50px;
    display: inline-table;
}

.socials .link{
    background-color: #F9F7F3;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px 20px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.socials .link:hover{
    background-color: #e6e3df;
}

@media screen and (max-width: 420px){
    .header .image{
        opacity: 0;
        transition: 0.2s;
    }
}



